#menu {
    background-color: black;
    color: white;
    font-family: $font;
    padding: 0.56em;
    #list-menu {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: flex-end;
        align-content: flex-end;
        gap: .56em;
        margin: 0px 2%;
        #projects {
            text-align: center;
            font-size: 1.5em;
            cursor: pointer;
            width: fit-content;
            position: relative;
            right: 33%;
        }
        .item {
            padding: 2px;
            transition: transform 0.3s;
            &:hover {
                position: relative;
                bottom: 2px;
                transform: scale(1.1);
            }
        }
    }
}